<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> DataTables   </title>


    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Dashboard</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">

                    </div>
                    <div class="profile_info">

                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="/afficheMatiere" ><i class="fa fa-archive"></i> Matieres </a>

                            </li>
                            <li><a href="/afficheGroupe"><i class="fa fa-book"></i> Groupes </a>

                            </li>
                            <li>
                                <a href="/afficheDemandeAdmin"><i class="fa fa-file"></i> Demandes </a>

                            </li>
                            <li>
                                <a href="/afficheEnseignant"><i class="fa fa-file"></i> Enseignant </a>

                            </li>

                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="">{{user.username}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><small></small></h3>
                    </div>

                    <div class="title_right"> {#hetha bih feyda hh#}
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">



                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Liste des Enseignant </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>


                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <hr />
                                <div class="col-md-6">
                                    <form class="form-inline" id="search_form">
                                        <input type="text" id="groupe" name="groupe" class="form-control" style="width:100%"/>

                                    </form>
                                </div>

                                <table  class="table">

                                    <thead>
                                    <tr>
                                        <th>Nom </th>
                                        <th>prenom</th>
                                        <th>cin</th>
                                        <th>num tel</th>
                                        <th>cv</th>
                                        <th>date naissance</th>
                                        <th>etude</th>
                                        <th>Supprimer</th>


                                    </tr>
                                    </thead>
                                    <tbody id="Enseignant">
                                    {% for E in Enseignant %}
                                        <tr>

                                            <td>{{ E.nom }}</td>
                                            <td>{{ E.prenom }}</td>
                                            <td>{{ E.cin }}</td>
                                            <td>{{ E.numTel }}</td>
                                            <td> <a href="{{ asset('pdf/') }}{{ E.cv }}" class='btn btn-primary' >Voir </a> </td>
                                            <td>{{ E.dateNaissance  |  date("m/d/Y") }}</td>
                                            <td>{{ E.etude }}</td>

                                            <td><a onclick="return confirm('voulez-vous vraiment supprimer l enseignant ?')" href="{{ path('scolaritesupprimerEnseignant',{'IdEnseignant':E.IdEnseignant}) }}" >  <button class="btn btn-danger"> <i class="fa fa-trash"></i> Supprimer</button></a></td>

                                        </tr>
                                    {% endfor %}









                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>
<!-- jQuery -->
<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>






<script>
    $(document).ready(function() {
        $("#groupe").on('keypress', function(e) {


            var groupe = $("#groupe").val();

            $.ajax({
                url: '{{path("scolariteSearchGroupe")}}',
                type: 'POST',
//                    dataType: 'html',
                dataType: 'json',
                data : { "groupe" : groupe },
                success: function(response) {
                    console.log('Data ', response);
                    $("#groupes").empty();
                    $.each(response, function(i, response) {

                        $("#groupes").append(

                            "<tr><td>" + response.Nom_Groupe + "</td>"+
                            "<td>" + response.Nbr_Enfant_Groupe + "</td>"+
                            "<td>" + response.Enseignant_Groupe + "</td>"+
                            "<td>" + response.Age_Groupe+ "</td>"+
                            "<td></td>"+
                            "<td><a href='/supprimerGroupe/"+response.Id_Groupe +"' ><button class='btn btn-danger'> <i class='fa fa-trash'></i> Supprimer </button></a></td>"+
                            "<td><a href='/modifierGroupe/"+response.Id_Groupe +"' ><button class='btn btn-info'> <i class='fa fa-edit'></i> Modifier</button></a></td></tr>"


                        )
                    });
                },
                error: function(error) {
                    console.log(error)
                }
            })

        })
    });
</script>

</body>
</html>
